.profil-main {
  width: 100%;
  background-color: #96b6c5;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.profil-data {
  width: 60%;
}
.profil-img {
  width: 200px;
  height: 200px;
}
.profil-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 30px;
  padding-left: 20px;
}
.TI-table {
  width: 80%;
}
.T-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
}
.T-table-1 {
  border: 2px solid black;
  border-bottom: 1px solid black;
  padding-left: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 20px;
}
@keyframes dropdownOpen {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--target-height);
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    height: var(--target-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.T-table-2 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 1s ease, opacity 1s ease;
  overflow-y: scroll;
}
.T-table-2 a {
  text-decoration: none;
  color: black;
}
.T-table-2.show {
  display: flex;
  animation: dropdownOpen 0.5s forwards;
  --target-height: 200px;
  padding: 20px;
}

.T-table-2.hide {
  animation: dropdownClose 1.5s forwards;
  padding: 0;
  --target-height: 200px;
}

.terapije-table {
  width: 100%;
  background-color: #96b6c5;
  border-collapse: collapse;
}
.terapije-table th {
  width: 100px;
  height: 50px;
  text-align: center;
  border-left: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
}
.terapije-table td {
  width: 100px;
  height: 50px;
  text-align: center;
  border-left: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
  border-top: 1px solid rgb(199, 199, 199);
}
.I-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
}
.I-table-1 {
  border: 2px solid black;
  border-top: 1px solid black;
  padding-left: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 20px;
}
@keyframes dropdownOpenIzvestaji {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--target-height);
    opacity: 1;
  }
}

@keyframes dropdownCloseIzvestaji {
  from {
    height: var(--target-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.I-table-2 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 1s ease, opacity 1s ease;
  overflow-y: scroll;
}
.I-table-2 a {
  text-decoration: none;
  color: black;
}
.I-table-2.show {
  display: flex;
  animation: dropdownOpenIzvestaji 0.5s forwards;
  --target-height: 200px;
  padding: 20px;
}

.I-table-2.hide {
  animation: dropdownCloseIzvestaji 1.5s forwards;
  padding: 0;
  --target-height: 200px;
}

.izvestaji-table {
  width: 100%;
  background-color: #96b6c5;
  border-collapse: collapse;
}
.izvestaji-table th {
  width: 100px;
  height: 50px;
  text-align: center;
  border-left: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
}
.izvestaji-table td {
  width: 100px;
  height: 50px;
  text-align: center;
  border-left: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
  border-top: 1px solid rgb(199, 199, 199);
}
.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
  background: #1175c7;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}
.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
  background: #1175c7;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}
.checkbox-wrapper-52 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-52 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-52 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-52 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  transition: all 0.2s ease;
}

.checkbox-wrapper-52 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-52 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-52 input[type="checkbox"]:checked + .toggle:before {
  background: #1175c7;
}

.checkbox-wrapper-52 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-52 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}
@media screen and (max-width: 768px) {
  .profil-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profil-main div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
