<div class="pacijent-main">
  <div
    class="container-fluid d-flex flex-xl-row flex-l-row flex-md-r flex-sm-colum pacijent-data"
  >
    <div class="pacijent-img">
      <img src="../../assets/RCLogo.png" class="img-thumbnail" />
    </div>
    <div class="pacijent-info">
      <div class="pacijent-names">
        <h4>{{ korisnik.firstName }} {{ korisnik.lastName }}</h4>
      </div>
      <div class="pacijent-uloga">
        <h4>{{ korisnik.role | role }}</h4>
      </div>
      <div>
        <h4>{{ korisnik.birthDate }}</h4>
      </div>
      <div>
        <h4>{{ korisnik.contact }}</h4>
      </div>
      <div>
        <h4>{{ korisnik.userName }}</h4>
      </div>
    </div>
  </div>
</div>
